{% extends "tasks/base.html" %}

{% block title %}Tasks | {{task.name}}{% endblock title %}

{% block body %}

<div class="card mt-4">
  <h5 class="card-header"><b>{{task.name}}</b></h5>
  <div class="card-body">
    <p class="card-text">{{task.description}}</p>
    <p class="card-text">Tu tarea fue creada en: {{task.created_at}}</p>
    <p class="card-text"> Tiene un límite de : {{task.complete_before}}</p>
    <a href="{% url "tasks:task-list" %}" class="btn btn-primary">Vuelve a tu home</a>
  </div>
</div>


{% endblock body %}