
body{
    background-image: linear-gradient(85deg, rgb(226, 223, 5), rgb(186, 240, 161));
}

.flex{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.item{
    height: 200px;
    width: 200px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border: 1px solid black;
    border-radius: 3px ;
}

.cover{
    cursor: pointer;
    height: 200px;
    width: 200px;
    position: relative;
}

.item:hover{
    transform: scale(1.1);
}



.vinyl{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    z-index: -1;
    position: relative;
    left: 0;
}



.detail{
    width: 100px;
    height: 100px;
    background-color:yellow;
    border-radius: 50%;
}

.label{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
}

.hole{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
}


.cover1{
    background-image: url(../assets/images/epm.jpg);
    background-size: cover;
}

.cover2{
    background-image: url(../assets/images/universitaria.jpg);
    background-size: 200px 200px;
}
.cover3{
    background-image: url(../assets/images/tnt.jpeg);
    background-size: cover;
}

@keyframes rotate_v {
    0%{
        transform: rotate3d(0);
    }
    25%{
        transform: rotate3d(1, 1, 1, 45deg);
    }
    50%{
        transform: rotate3d(2, -1, -1, -0.2turn);
    }
    100%{
        transform: rotate3d(0, 1, 0.5, 3.142rad);
    }
}