
body{
    background-image: linear-gradient(85deg, rgb(226, 223, 5), rgb(186, 240, 161));
}

.flex{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.item{
    height: 200px;
    width: 200px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border: 1px solid black;
    border-radius: 3px ;
}

.cover{
    cursor: pointer;
    height: 200px;
    width: 200px;
}

.item:hover{
    transform: scale(1.1);
}

.cover1{
    background-image: url(../assets/images/epm.jpg);
    background-size: cover;
}

.cover2{
    background-image: url(../assets/images/universitaria.jpg);
    background-size: 200px 200px;
}
.cover3{
    background-image: url(../assets/images/tnt.jpeg);
    background-size: cover;
}