* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
  padding-top: 50px;
}

header {
  position: relative;
  top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

header h1,
header p {
  text-align: center;
}
header p {
  margin-top: 30px;
  margin-bottom: 10px;
}

.todo-list {
  width: 100%;
}

.container-bottom {
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  gap: 100px;
}

.task-done {
  text-align: center;
  display: inline;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  width: 150px;
  padding: 15px;
  border-radius: 6px;
  font-size: 18px;
}

.task-done a {
  text-decoration: none;
  color: black;
}

.task-done:hover {
  box-shadow: 1px 1px 1px 1px grey;
  cursor: pointer;
}

.task-pending {
  display: inline;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lightcoral;
  padding: 10px;
  font-size: 18px;
  width: 150px;
  border-radius: 6px;
  height: 51px;
}

.task-pending a {
  text-decoration: none;
  color: black;
}

.task-pending:hover {
  box-shadow: 1px 1px 1px 1px grey;
  cursor: pointer;
}

.todo-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.todo-container h1 {
  margin-bottom: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-checkbox {
  margin-left: 15px;
  width: 20px;
  height: 20px;
}

/** For details.html**/

.task-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.task-card {
  position: relative;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 400px;
}

.task-title {
  background-color: white;
  width: 100%;
  color: black;
  border-bottom: 1px solid black;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 20px;
}

.task-description,
.task-date,
.task-category,
.task-extra {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.task-status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #333;
  margin-top: 20px;
}

.home-button {
  position: absolute;
  bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  background-color: lightcoral;
  padding: 10px;
  border-radius: 6px;
}

.home-button a {
  text-decoration: none;
  color: white;
}

.home-button:hover {
  box-shadow: 1px 1px 1px 1px grey;
  cursor: pointer;
}

/** Formulario de Task **/

.form-content {
  background-color: #666;
  font-style: oblique;
}

.form-button {
  background-color: #333;
}
