{% extends "totask/base.html" %}

{% block title %}Totaks | {{task.title}} {% endblock title %}


{% block body %}
  <div class="task-details-container">
    <div class="task-card">
        <h1 class="task-title">{{task.title}}</h1>
        <p class="task-date">Fecha de creación: {{task.created_at}}</p>
        <p class="task-description">{{task.content}}</p>
        <p class="task-category">Categoría: {{task.category}}</p>
        <div class="task-status">
            <div id="task-done">
              <p>Estado: {%if task.done%} ✅ Realizada {% else %} ❌ No realizada {% endif %}</p>
            </div>
        </div>
        <div class="home-button">
          <a href="{% url "totask:home" %}">Vuelve a casa 🏘️</a>
        </div>
    </div>
</div>

{% endblock body %}





