{% extends "totask/base.html" %}

{% block title %}Totaks | Home{% endblock title %}

{% block body %}
  <header>
    <h1>Totaks: Go for that tasks!!</h1>
    <p>Total tasks: <strong>{{ num_tasks }} task{{num_tasks|pluralize}}</strong></p>
  </header>
  <div class="container-bottom">
    <div class="task-done"><a href="{% url "totask:taskdone" %}">Tareas hechas</a></div>
    <div class="task-pending"><a href="{% url "totask:pendingtasks" %}">Tareas pendientes</a></div>
  </div>

  {% for task in tasks %}
  <div class="todo-container">
    <h1>{{task.title}}</h1>
    <ul class="todo-list">
        <li class="todo-item">
            <p>{{ task.content|truncatewords:20 }} <a href="{% url "totask:task_detail" task.slug %}">Read more </a></p>
            <div class="task-checkbox">{%if task.done%} ✅ {% else %} ❌ {% endif %}</div>
        </li>
    </ul>
  </div>
  {% endfor %}
{% endblock body %}

