{% extends "tasks/base.html" %}

{% block title %}Tasks | Home{% endblock title %}

{% block body %}
  
{% for task in tasks %}
<div class="container text-center mt-4">
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          {% if task.done %}
          <div class="text-decoration-line-through">{{task.title}}</div>
          {% else %}
          <div>{{task.title}}</div>
          {% endif %}
        </div>
        <div class="card-body">
          <p class="card-text">{{task.content}}</p>
          <p class="status">
              {% if task.done %} 
              <a href="{% url "tasks:toggle-status" task.slug %}" class="btn btn-success">Completada ✅ </a>
              {% else %} 
              <a href="{% url "tasks:toggle-status" task.slug %}" class="btn btn-danger">Pendiente ❌  </a>
              {% endif %}
          </a>
          </p>
          <a href="{% url "tasks:task-detail" task.slug %}" class="btn btn-outline-primary ">Leer más</a>
          <a href="{% url "tasks:edit-task" task.slug %}" class="btn btn-outline-secondary"> Editar tarea</a>
          <a href="{% url "tasks:delete-task" task.slug %}" class="btn btn-outline-danger"> Eliminar tarea</a>
        </div>
        <div class="card-footer text-body-secondary">
          {{task.created_at}}
        </div>
      </div>
      </div>
    </div>
</div>
{% empty %}
  <h1 class="mt-4">No tienes tareas activas 👨‍🏭</h1>
  <a href="{% url "tasks:add-task" %}" class="btn btn-success mt-2">Crea tu primera tarea</a>
{% endfor %}

{% endblock body %}