{% extends "base.html" %}


{% block content %}


{% for echo in echos %}
    <div class="container py-4">
      <!-- Post Container -->
      <div class="card mb-3 shadow-sm" style="max-width: 600px; margin: auto;">
        <div class="card-body">
          <div class="d-flex">
            <!-- User Avatar -->
           <a href="{% url "users:user-detail" echo.user %}"> <img src="{{echo.user.profile.avatar.url}}" alt="Avatar" class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover;"></a>
            <!-- Post Content -->
            <div class="w-100">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <strong class="text-dark">{{echo.user.last_name}}</strong> 
                  <span class="text-muted">@{{echo.user}} • {{echo.created_at}}</span>
                </div>
              </div>
              <p class="mt-2 mb-3 text-dark">
                {{echo.content| truncatewords:20}}
              </p>
              {% if request.user == echo.user %}
              <div class="d-flex justify-content-between text-muted">
                <a  href="{% url "echos:edit-echo" echo.pk %}"><button class="btn btn-sm btn-light"><i class="bi bi-pencil-square"></i>Editar</button></a>  
                <a  href="{% url "echos:delete-echo" echo.pk %}"><button class="btn btn-sm btn-light"><i class="bi bi-trash-fill me-1"></i>Eliminar</button></a>
                {% endif %}
                <a href="{% url "echos:echo-detail" echo.pk %}"><button class="btn btn-sm btn-light" ><i class="bi bi-binoculars-fill me-1"></i>Ver más</button></a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>




{% endfor %}

{% endblock content %}





