html{
    background-color: rgb(48, 48, 48);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    margin-top: 25px;
    background-color: rgb(14, 13, 13);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    color: gold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Beaufort, monospace;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover{
    transform: scale(1.1);
}

#msg_load{
    text-align: center;
    justify-content: center;
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    visibility: hidden;
}



/* Pokedex */

#pokedex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px 15px;
    width: 100%;
}

.card {
    font-family: Verdana, Geneva, Tahoma, sans-serif, monospace;
    cursor: pointer;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 5px;
    background-image: linear-gradient(rgb(250, 128, 128), rgb(245, 223, 223));
    text-align: center;
    transition: border-color 0.3s ease;
}

.img_class{
    padding: 15px;
}

.icon{
    vertical-align: middle;
    padding: 5px;
}
.types{
    background-color: yellow;
}

.container_icons{
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 450px;
}