{% extends "totask/base.html" %}

{% block body %}

  <div class="details_container">
    <div class="text_container">
      <h1>{{task.title}}</h1>
      <p>Categoria: {{task.category}}</p>
      <div class="date-contaier">
        <p>Fecha de creación: {{task.created_at}}</p>
      </div>
      <div class="text-container">
        <p>{{task.content}}</p>

        <p>{%if task.done%} ✅ {% else %} ❌ {% endif %}</p>

      </div>

      <div class="home-button">
        <a href="{% url "totask:home" %}">Vuelta al home</a>

    </div>

  </div>







{% endblock body %}





